VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,51
PRODUCTVERSION 1,0,0,51
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0
FILEOS VOS_UNKNOWN
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      
      
      VALUE "FileVersion",      "1.0.0.51\0"
      VALUE "ProductVersion",   "1.0.0.51\0"
      
      VALUE "InternalName",     "文字工具\0"
      VALUE "OriginalFilename", "文字工具.exe\0"
      
      
      
    END
  END
  BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1252
    END
END


AAAAA_APPICON ICON DISCARDABLE "..\\IMAGES\\DEFAULT.ICO"





//  WinXP 主题支持清单信息
1 24 "CODEGEN_1j09yxai.Exe.Manifest"
